apiVersion: apps/v1
kind: Deployment
metadata:
  name: proveedor-service
  namespace: siniestros
spec:
  replicas: 2
  selector:
    matchLabels:
      app: proveedor-service
  template:
    metadata:
      labels:
        app: proveedor-service
    spec:
      containers:
      - name: proveedor
        image: santiagoarroyo/proveedor:latest
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://mysql-proveedor:3306/proveedordb?createDatabaseIfNotExist=true"
        - name: SPRING_DATASOURCE_USERNAME
          value: "root"
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-proveedor-secret
              key: MYSQL_ROOT_PASSWORD
        ports:
        - containerPort: 8082
        livenessProbe:
          httpGet:
            path: /api/proveedores
            port: 8082
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/proveedores
            port: 8082
          initialDelaySeconds: 30
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: proveedor-service
  namespace: siniestros
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
  selector:
    app: proveedor-service
